<h3>Terms of Service</h3>
<p>
	You must have and use common sense at all times when using any part of this web site. The creator
	of this web site is not responsible for any damage done to your computer or damage done to any
	other part of your life as a result of using this web site.
</p>

<p>
	This site is for the purpose of storing and sharing Ubiquity commands. Any other use will result
	in your account being removed. Any code that is deemed to be malicious, illegal, or otherwise hazardous
	will also result in account removal. (see previous paragraph about common sense)
</p>

<p>
	All possible measures are taken to protect the data stored at this web site and to maintain the
	highest up time, but neither is guaranteed.
</p>

<p>
	I am not a lawyer, nor was this written by a lawyer. This may or may not be legally binding.
</p>