body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 100px;
  padding-top: 10px;
  color: #333;
}

a {
  color: #333;
}

textarea {
	width: 100%;
}

.error {
	background-color: #ffc0c0;
	margin-bottom: 3px;
}

.info {
  background-color: #ff9;
} 

.errors {
	color: red;
}

.clear {
	clear: both;
}


#notification {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header {
	position: relative;
	padding: 30px;
	background: url(/images/header.jpg) repeat-x;
	color: #ff0;
}

#header a {
  color: #ff0;
}

#header .logo a {
	text-decoration: none;
}

#header .links {
	position: absolute;
	float: right;
	bottom: 30px;
	right: 30px;
}

#container {
  position: relative;
	padding: 30px;

}

.header {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}

.header .username {
  float: left;
}

.home p {
  line-height: 1.5em;
  margin-left: 50px;
  margin-right: 50px;
}

.home p {
  text-align: center;
}

.home p.signup {
  font-weight: bold;
  font-size: 1.2em;
}

.actions {
  font-size: .9em;
  float: right;
}

#add_script {
	float: right;
	font-weight: normal;
}

.list {
	margin-bottom: 20px;
}

.script .name {
	font-size: 1.1em;
}

.script .name .username {
	font-size: .8em;
}

.script .time {
	float: right;
	font-size: .9em;
	font-style: italic;
}

.script a:hover {
  background-color: #ffa;
}

.script .name {
  float: left;
  font-size: 1.1em;
}

.script .description {
	font-weight: normal;
	padding: 10px;
	font-style: italic;
	clear: both;
	overflow: hidden;
}

.no_scripts {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

#footer {
  color: #ff0;
  text-align: center;
  background-color: #0074ed;
  padding: 5px;
}

#footer a {
	color: #ff0;
	font-size: .9em;
}

