<div class="home">
	<p>
		Just a little app that <a href="http://darrinholst.com">I</a> wrote to store and install 
		<a href="http://labs.mozilla.com/2008/08/introducing-ubiquity/">Ubiquity</a> scripts. Feel 
		free to <%= link_to 'browse', scripts_path %> around.
	</p>
	<p class="signup">
		<%= link_to 'SIGN UP', signup_path %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'LOGIN', login_path %>
	</p>
</div>