<div class="home">
	<p>
		This is just a reference app that <a href="http://darrinholst.com">I</a> wrote to store and install 
		<a href="http://labs.mozilla.com/2008/08/introducing-ubiquity/">Ubiquity</a> scripts. You're 
		more than welcome to use it, but really <a href="http://gist.github.com">gist.github.com</a> 
		is a better solution.
	</p>
	<p class="signup">
		<%= link_to 'SIGN UP', signup_path %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'LOGIN', login_path %>
	</p>
</div>