<div class="home">
	<p>
		<strong>UbiquityBin</strong> is a part of the cloud where you can store and 
		share <a href="http://labs.mozilla.com/2008/08/introducing-ubiquity/">Ubiquity</a> scripts. 
		<%= link_to 'Browse', scripts_path %> around or <%= link_to 'sign up', signup_path %> and 
		share your own. All brought to you at the amazingly low price of free.
	</p>
	<p class="signup">
		<%= link_to 'SIGN UP', signup_path %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'LOGIN', login_path %>
	</p>
</div>